/* GRID */
#main{
  display: grid;
  grid-template-columns:  repeat(12, 1fr);
  grid-template-rows:  6rem calc(100vh - 6rem) 1fr;
  column-gap: $unit-s;
  grid-template-areas: 
  "header header header header header header header header header header header header"
  ". heroimage heroimage heroimage heroimage heroimage heroimage illustration1 illustration1 illustration1 illustration1 . "
  "footer footer footer footer footer footer footer footer footer footer footer footer";
  max-width: $width-wrapper;
  margin: 0 auto;
  padding: 0 1rem;

  @media only screen and (max-width: $width-laptop){
    grid-template-areas: 
    "header header header header header header header header header header header header"
    ". heroimage heroimage heroimage heroimage heroimage illustration1 illustration1 illustration1 illustration1 illustration1 . "
    "footer footer footer footer footer footer footer footer footer footer footer footer";
  }
}


/* RESPONSIVE ELEMENTS */
.desktop{
  display: block;

  @media only screen and (max-width: $width-tablet){
    display: none;
  }
} 

.mobile{
  display: none;

  @media only screen and (max-width: $width-tablet){
    display: block;
  }
} 
 

/* BACKGROUNDS */
.bg_secondary{
  background-color: $color-secondary-light3;
}