/* SIZES */
$width-wrapper: 2000px;
$width-maxi: 1600px;
$width-laptop: 1100px;
$width-tablet: 900px;
$width-phone: 600px;
$width-mini: 450px;


/* UNITS */
$unit-xs: .5rem;
$unit-s: 1rem;
$unit-m: 1.5rem;
$unit-l: 2rem;
$unit-xl: 3rem;
$unit-xxl: 4rem;
$unit-xxxl: 8rem;


/* COLORS */
$color-primary: #0F4D63;
$color-primary-dark: #052c3a;

$color-secondary: #2B2B2B;
$color-secondary-light: #555555;
$color-secondary-light2: #A5A5A5;
$color-secondary-light3: #E1E1E1;

$color-tertiary: #EE781E;
$color-tertiary-dark: #D26013;

$color-quaternary: #FFFFFF;



/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
$font-primary: 'Bebas Neue', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@400;600&display=swap');
$font-secondary: 'Palanquin', sans-serif;