<footer id="footer">
    <nav class="smnav">
        <ul>
          <li><a class="sm instagram" href="https://www.instagram.com/jhein_design/" target="blank" title="Zu Jessica Heins Instagramprofil wechseln">Instagram</a></li>
          <li><a class="sm linkedin" href="https://www.linkedin.com/jhein_design/" target="blank" title="Zu Jessica Heins Linkedinprofil wechseln">Linkdin</a></li>
          <li><a class="sm telegram" href="" title="Jessica Hein per Telegram Kontaktieren">Telegram</a></li>
        </ul> 
    </nav>

    <nav class="footernav">
        <ul>
          <li><a href="kontakt.html" title="Mit mir Kontakt aufnehmen">Kontakt</a></li>
          <li><a href="impressum.html" title="Zum Impressum wechseln">Impressum</a></li>
          <li><a href="datenschutz.html" title="Zum Datenschutz wechseln">Datenschutz</a></li>
        </ul> 
      </nav>
</footer>