<footer id="footer">
  <svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#logo"/></svg>

  <nav class="smnav">
    <ul>
      <li><a href="https://www.linkedin.com/jhein_design/" target="blank" title="Zu Jessica Heins Linkedinprofil wechseln"><svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#linkedin"/></svg></a></li>
      <li><a href="https://www.instagram.com/jhein_design/" target="blank" title="Zu Jessica Heins Instagramprofil wechseln"><svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#instagram"/></svg></a></li>
      <li><a href="https://www.xing.com/jhein_design/" target="blank" title="Zu Jessica Heins Xingprofil wechseln"><svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#xing"/></svg></a></li>
    </ul> 
  </nav>

  <nav class="footernav">
    <ul>
      <li><a class="kontakt" href="kontakt.html" title="Mit mir Kontakt aufnehmen">Kontakt</a></li>
      <hr>
      <li><a class="impressum" href="impressum.html" title="Zum Impressum wechseln">Impressum</a></li>
      <hr>
      <li><a class="datenschutz" href="datenschutz.html" title="Zum Datenschutz wechseln">Datenschutz</a></li>
    </ul> 
  </nav>
</footer>