<header id="header" class="wrapper">
  <a class="logo" href="index.html" title="Zur Startseite wechseln"><h1>Illustrator, Grafik- und Webdesigner Jessica Hein</h1></a>
   <nav class="mainnav">
     <ul>
   <li><a class="desktop" href="home.html" title="Zur Startseite wechseln">Home</a></li>
   <li><a class="desktop" href="arbeiten.html" title="Meine Arbeiten einsehen">Arbeiten</a></li>
   <li><a class="desktop" href="kontakt.html" title="Mit mir Kontakt aufnehmen">Kontakt</a></li>

   <li><a class="sm instagram" href="https://www.instagram.com/jhein_design/" target="blank" title="Zu Jessica Heins Instagramprofil wechseln">Instagram</a></li>
   <li><a class="sm linkedin" href="https://www.linkedin.com/jhein_design/" target="blank" title="Zu Jessica Heins Linkedinprofil wechseln">Linkdin</a></li>
   <li><a class="sm telegram" href="" title="Jessica Hein per Telegram Kontaktieren">Telegram</a></li>
          
   <li class="mobile"><button id="menubtn">Menü anzeigen</button></li>
 </ul> 
</nav>
</header>



