<header id="header">
  
  <a class="logo" href="index.html" title="Zur Startseite wechseln"><h1>Illustrator, Grafik- und Webdesigner Jessica Hein</h1></a>
   
  <nav class="mainnav">
    <ul>
      <li><a class="desktop" href="index.html" title="Zur Startseite wechseln">Home</a></li>
      <li><a class="desktop" href="ueber-mich.html" title="Mehr über mich erfahren">Über mich</a></li>
      <li><a class="desktop" href="leistungen.html" title="Meine Leistungen kennenlernen">Leistungen</a></li>
      <li><a class="desktop" href="portfolio.html" title="Meine Arbeiten einsehen">Portfolio</a></li>
      <li><a class="desktop" href="kontakt.html" title="Mit mir Kontakt aufnehmen">Kontakt</a></li>
          
      <li class="mobile"><button id="menubtn">Menü anzeigen</button></li>
    </ul> 
  </nav>

</header>



