<header id="header">

  <div id="topbar">
    <a class="logo" href="index.html" title="Zur Startseite wechseln"><h1>Illustrator, Grafik- und Webdesigner Jessica Hein</h1></a>
    
    <nav class="mainnav">
      <ul>
        <li class="desktop index"><a href="index.html" title="Zur Startseite wechseln">Home</a></li>
        <li class="desktop ueber-mich"><a href="ueber-mich.html" title="Mehr über mich erfahren">Über mich</a></li>
        <li class="desktop leistungen"><a href="leistungen.html" title="Meine Leistungen kennenlernen">Leistungen</a></li>
        <li class="desktop portfolio"><a href="portfolio.html" title="Meine Arbeiten einsehen">Portfolio</a></li>
        <li class="desktop kontakt"><a href="kontakt.html" title="Mit mir Kontakt aufnehmen">Kontakt</a></li>
            
        <li class="mobile" id="menubtn">                       
          <button class="btn">
            <span class="burger">
              <span class="burger_slices"></span>
            </span>
          </button>
        </li>
      </ul> 
    </nav>
  </div>
  
  <button class="closebtn btn"></button>

  <div class="mobilenav">
    <div class="wrapper">
      <nav>
        <ul>
          <li><a class="index" href="index.html" title="Zur Startseite wechseln">Home</a></li>
          <li><a class="ueber-mich" href="ueber-mich.html" title="Mehr über mich erfahren">Über mich</a></li>
          <li><a class="leistungen" href="leistungen.html" title="Meine Leistungen kennenlernen">Leistungen</a></li>
          <li><a class="portfolio" href="portfolio.html" title="Meine Arbeiten einsehen">Portfolio</a></li>
          <li><a class="kontakt" href="kontakt.html" title="Mit mir Kontakt aufnehmen">Kontakt</a></li>
          <li><a class="impressum" href="impressum.html" title="Zum Impressum wechseln">Impressum</a></li>
          <li><a class="datenschutz" href="datenschutz.html" title="Zum Datenschutz wechseln">Datenschutz</a></li>
        </ul>
      </nav>
      <nav class="smnav">
        <ul>
          <li><a href="https://www.linkedin.com/jhein_design/" target="blank" title="Zu Jessica Heins Linkedinprofil wechseln"><svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#linkedin"/></svg></a></li>
          <li><a href="https://www.instagram.com/jhein_design/" target="blank" title="Zu Jessica Heins Instagramprofil wechseln"><svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#instagram"/></svg></a></li>
          <li><a href="https://www.xing.com/jhein_design/" target="blank" title="Zu Jessica Heins Xingprofil wechseln"><svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#xing"/></svg></a></li>
        </ul> 
      </nav>
    </div>
  </div>

</header>



