<!DOCTYPE html>
<html>
  <head>
    <%= require('html-loader!./partials/head.html') %>
    <!-- Specifics  -->
    <meta name="robots" content="noindex,nofollow">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
    <!-- CSS  -->
    <link rel="stylesheet" href="index.css" />
  </head>

  <body>
    <details>
      <summary>Header Partial</summary>
      <%= require('html-loader!./partials/header.html') %>
    </details>
  </body>
</html>
