<!DOCTYPE html>
<html>
  <head>
    <%= require('html-loader!./partials/head.html') %>
    <!-- Specifics  -->
    <meta name="robots" content="index,follow">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
    <!-- CSS  -->
    <link rel="stylesheet" href="index.css" />
  </head>

  <body id="main">

      <%= require('html-loader!./partials/header.html') %>


      <section id="heroimage" >
        <nav class="smnav">
          <ul>
            <li><a class="sm instagram" href="https://www.instagram.com/jhein_design/" target="blank" title="Zu Jessica Heins Instagramprofil wechseln">Instagram</a></li>
            <li><a class="sm linkedin" href="https://www.linkedin.com/jhein_design/" target="blank" title="Zu Jessica Heins Linkedinprofil wechseln">Linkdin</a></li>
            <li><a class="sm telegram" href="" title="Jessica Hein per Telegram Kontaktieren">Telegram</a></li>
          </ul>
        </nav>

        <p><span>Jessica Hein</span> Illustrator, Grafikdesigner & Webdesigner</p>

        <img>
      </section>


      <section class="bg_secondary">
        <h2>Erste Überschrift</h2>
        <P>Platzhaltertext</P>
      </section>


      <%= require('html-loader!./partials/footer.html') %>

  </body>
</html>
