<!DOCTYPE html>
<html>
  <head>
    <%= require('html-loader!./partials/head.html') %>
    <!-- Specifics  -->
    <meta name="robots" content="index,follow">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
    <!-- CSS  -->
    <link rel="stylesheet" href="index.css" />
  </head>

  <body id="main">
      <%= require('html-loader!./partials/header.html') %>

      <section id="heroimage">
        <p><span>Jessica Hein</span> Illustrator, Grafikdesigner & Webdesigner</p>
        <img>
      </section>

      <section class="bg_secondary">
        <h2>Erste Überschrift</h2>
        <P>Platzhaltertext</P>
      </section>
  </body>
</html>
