<!DOCTYPE html>
<html>
  <head>
    <%= require('html-loader!./partials/head.html') %>
    <%= require('html-loader!./partials/icons.html') %>
    <!-- SPECIFICS  -->
    <meta name="robots" content="index,follow">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
    <!-- CSS  -->
    <link rel="stylesheet" href="index.css" />
  </head>

  <body id="main" class="leistungen">

      <!-- HEADER  -->
      <%= require('html-loader!./partials/header.html') %>

      <!-- FOOTER  -->
      <%= require('html-loader!./partials/footer.html') %>

  </body>
</html>
